@import url(http://fonts.googleapis.com/css?family=Dancing+Script:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Tangerine:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Chewy:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Pinyon+Script:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Dancing Script';
    background:url(/assets/bits-frontend/files/img/sla.jpg);
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.content a {
  text-decoration: none;
}

.title {
    font-size: 96px;
}

.not {
    font-family: 'Shadows Into Light Two';
}
.change {
    font-family: 'Dancing Script';
}
.wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  animation: 60s credits linear infinite;
}

.movie {
  margin-bottom: 50px;
  font-size: 50px;
}

.job {
  margin-bottom: 5px;
  font-size: 18px;
}

.name {
  margin-bottom: 50px;
  font-size: 35px;
}

.wrapper br {
  margin: 5px 0;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}
